#countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family:  Helvetica;
}
#btncontainer{
    text-align: center;
}

.button{
     padding: 10px 20px ;
     font-size: 1.5em;
     color: rgba(245, 239, 237, 0.959);
     background-color: rgb(80, 167, 202);
     border-radius: 5px;
     cursor: pointer;
     transition: background-color 0.25s;
}
.button:hover{
    background-color: rgb(2, 61, 84)
}
#index{
    text-align: center;
    font-size: 5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}